# OS
.DS_Store
Thumbs.db
*.swp

# IDE
.vscode/
.idea/
*.code-workspace

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Node
node_modules/
npm-debug.log

# Python
__pycache__/
*.pyc
.env
venv/

# Misc
.env.local
secrets.txt
